*
{
	margin: 0;
	padding: 0;
}

/* Contaner */

.container
{
	width: 100vw;
	height: 500px;
	display: flex;
}

/*Box */
.box-1
{
	width: 33.33%;
	height: 100%;
	padding: 2rem;
	
}

.contact
{
	
}

.box-2
{
	width: 66.66%;
	height: 100%;
	font-family: verdana;


	
}

.box-2 h1
{
	text-align: center;


}

form
{
	padding: 2rem 13rem;
}

.pro
{
	 margin-bottom: 1rem; 


	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}


.pro:focus
{
	color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}